.*
!.gitignore
_*
*.out

results/*
!results/summary

!results/prefs
results/prefs/*
!results/prefs/*prefs*.csv

!results/muteffects
results/muteffects/*
!results/muteffects/*_muteffects.csv

!results/diffsel
results/diffsel/*
!results/diffsel/*diffsel.csv

!results/dms_view
results/dms_view/*
!results/dms_view/data.csv

!results/logoplots
results/logoplots/*
!results/logoplots/*.pdf
