.*
!.gitignore
_*
*.out

results/*
!results/summary

!results/tile_*
results/tile_*/*

!results/tile_*/prefs
results/tile_*/prefs/*
!results/tile_*/prefs/*prefs*.csv

!results/tile_*/muteffects
results/tile_*/muteffects/*
!results/tile_*/muteffects/*_muteffects.csv

!results/tile_*/diffsel
results/tile_*/diffsel/*
!results/tile_*/diffsel/*diffsel.csv

!results/tile_*/dms_view
results/tile_*/dms_view/*
!results/tile_*/dms_view/data.csv

!results/tile_*/logoplots
results/tile_*/logoplots/*
!results/tile_*/logoplots/*.pdf
