.*
!.gitignore
_*
*.out

data/concat_fastqs/concat_fastq_out
data/concat_c636/

results/*
!results/summary
!results/dms-view

results/notebooks/.*
results/shallow_mut_scanning/.*
results/all_tiles/.*

!results/tile_*
results/tile_*/*

!results/tile_*/prefs
results/tile_*/prefs/*
!results/tile_*/prefs/*prefs*.csv

!results/tile_*/muteffects
results/tile_*/muteffects/*
!results/tile_*/muteffects/*_muteffects.csv

!results/tile_*/diffsel
results/tile_*/diffsel/*
!results/tile_*/diffsel/*diffsel.csv

!results/tile_*/dms_view
results/tile_*/dms_view/*
!results/tile_*/dms_view/data.csv

!results/tile_*/logoplots
results/tile_*/logoplots/*
!results/tile_*/logoplots/*.pdf

!results/tile_*/prefs_with_stop
results/tile_*/prefs_with_stop/*
!results/tile_*/prefs_with_stop/*.csv

!results/tile_*/muteffects_with_stop
results/tile_*/muteffects_with_stop/*
!results/tile_*/muteffects_with_stop/*.csv
